# Node.js
node_modules/
npm-debug.log
.env

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Directorios de desarrollo
.DS_Store
.idea/
.vscode/
*.sublime-workspace

# Dependencias instaladas globalmente
package-lock.json
